@model Reservation
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="FullName" /></label>
            <input asp-for="FullName" placeholder="Fullname">
            <span asp-validation-for="FullName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" /></label>
            <input asp-for="Email" placeholder="Email">
            <span asp-validation-for="Email "></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" /></label>
            <input asp-for="Phone" placeholder="Phone">
            <span asp-validation-for="Phone"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GuestCount" /></label>
            <input asp-for="GuestCount" placeholder="GuestCount">
            <span asp-validation-for="GuestCount"></span>
        </div>
        <div class="mb-3 form-check">
            <label asp-for="DateTime" /></label>
            <input asp-for="DateTime" placeholder="DateTime">
            <span asp-validation-for="DateTime"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>


