@model About
@{
    ViewData["Title"] = "Update";
}

<h1 style="color:black">Update</h1>
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
       <div class="form-row">
            <div class="mb-3 col-md-4">
                <label asp-for="Title" /></label>
                <input asp-for="Title" placeholder="Title">
                <span asp-validation-for="Title"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="Description" /></label>
                <input asp-for="Description" placeholder="Description">
                <span asp-validation-for="Description"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="RedirectUrl" /></label>
                <input asp-for="RedirectUrl" placeholder="RedirectUrl">
                <span asp-validation-for="RedirectUrl"></span>
            </div>
            <div class="mb-3 form-check col-md-4">
                <label asp-for="ImageFile" /></label>
                <input asp-for="ImageFile" placeholder="ImageFile">
                <span asp-validation-for="ImageFile"></span>
            </div>
            <div class="mb-3 form-check col-md-4">
                <label asp-for="SignatureImageFile" /></label>
                <input asp-for="SignatureImageFile" placeholder="SignatureImageFile">
                <span asp-validation-for="SignatureImageFile"></span>
            </div>
      </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
