
@{
    ViewData["Title"] = "Index";
}



    <main>
        <div class="hero_single inner_pages background-image" data-background="url(img/hero_menu.jpg)">
            <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-9 col-lg-10 col-md-8">
                            <h1>Menu Order</h1>
                            <p>Mouse over the item to add it to cart</p>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <div class="frame white"></div>
        </div>
        <!-- /hero_single -->

        <div class="pattern_2">
            <div class="container margin_60_40" data-cues="slideInUp">
                <div class="main_title center">
                    <span><em></em></span>
                    <h2>Starters</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet</p>
                </div>
                <div class="row add_bottom_45 menu-gallery">
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/1.jpg" title="Soft shell crab" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/1.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Soft shell crab</h3><em>$14</em>
                            </div>
                            <p>Chicken, Potato, Salad</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/2.jpg" title="Marinated Grilled" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/2.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Marinated Grilled Shrimp</h3><em>$11</em>
                            </div>
                            <p>Fresh Shrimp, Oive Oil, Tomato Sauce</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/3.jpg" title="Avocado & Mango Salsa" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/3.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Avocado & Mango Salsa</h3><em>$16</em>
                            </div>
                            <p>Avocado, Mango, Tomatoes</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/4.jpg" title="Baked Potato Skins" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/4.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Baked Potato Skins</h3><em>$10</em>
                            </div>
                            <p>Potatoes, Oil, Garlic</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/5.jpg" title="Braised Pork Chops" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/5.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Braised Pork Chops</h3><em>$12</em>
                            </div>
                            <p>Pork chops, Olive oil, Garlic</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/6.jpg" title="Cream of Asparagus" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/6.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Cream of Asparagus</h3><em>$14</em>
                            </div>
                            <p>Asparagus, Ootato, Celery, Onion</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <!-- /row -->

                <div class="main_title center" data-cue="slideInUp">
                    <span><em></em></span>
                    <h2>Main Courses</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet</p>
                </div>
                <div class="row add_bottom_25 menu-gallery">
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/7.jpg" title="Prime Rib" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/7.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Prime Rib</h3><em>$18</em>
                            </div>
                            <p>Rib, Rosemary, Black pepper</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/8.jpg" title="Coconut Fried Chicken" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/8.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Coconut Fried Chicken</h3><em>$14</em>
                            </div>
                            <p>8 chicken pieces, Coconut milk</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/9.jpg" title="Sriracha Beef Skewers" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/9.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Sriracha Beef Skewers</h3><em>$12</em>
                            </div>
                            <p>Beef, Garlic, Sesame oil</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/10.jpg" title="Chicken with Garlic" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/10.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Chicken with Garlic</h3><em>$10</em>
                            </div>
                            <p>Chicken, Cherry tomatoes, Olive oil</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/11.jpg" title="Soft shell crab" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/11.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Soft shell crab</h3><em>$14</em>
                            </div>
                            <p>Chicken, Potato, Salad</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/1.jpg" title="Terrific Turkey Chili" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/1.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Terrific Turkey Chili</h3><em>$18</em>
                            </div>
                            <p>Turkey, Oregano, Tomato paste</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <!-- /row -->

                <div class="banner lazy" data-bg="url(img/banner_bg.jpg)">
                    <div class="wrapper d-flex align-items-center justify-content-between opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                        <div>
                            <small>Special Offer</small>
                            <h3>Burgher Menu $18 only</h3>
                            <p>Hamburgher, Chips, Mix Sausages, Beer, Muffin</p>
                            <a href="reservations.html" class="btn_1">Reserve now</a>
                        </div>
                        <figure class="d-none d-lg-block"><img src="~/assets/img/banner.svg" alt="" width="200" height="200" class="~/assets/img-fluid"></figure>
                    </div>
                    <!-- /wrapper -->
                </div>
                <!-- /banner -->

                <div class="main_title center add_top_60" data-cue="slideInUp">
                    <span><em></em></span>
                    <h2>Dessert and Drinks</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet</p>
                </div>
                <div class="row menu-gallery add_bottom_25">
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/3.jpg" title="Summer Berry" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/3.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Summer Berry</h3><em>$8</em>
                            </div>
                            <p>Raspberries, Blackberries</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/4.jpg" title="Coconut Tart" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/4.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Coconut Tart</h3><em>$10</em>
                            </div>
                            <p>Blueberries, Graham cracker crumbs</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/5.jpg" title="Pumpkin Cookies" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/5.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Pumpkin Cookies</h3><em>$11</em>
                            </div>
                            <p>Pumpkin, Sugar, Butter</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/6.jpg" title="Cookies Cream Cheese" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/6.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Cookies Cream Cheese</h3><em>$14</em>
                            </div>
                            <p>Sugar, Butter, Eggs</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/8.jpg" title="Chocolate Cupcakes" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/8.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Chocolate Cupcakes</h3><em>$14</em>
                            </div>
                            <p>Chocolate, Eggs, Vanilla</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/9.jpg" title="Chocolate Cupcakes" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/9.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Chocolate Cupcakes</h3><em>$14</em>
                            </div>
                            <p>Chocolate, Eggs, Vanilla</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/9.jpg" title="Soft shell crab" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/9.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Soft shell crab</h3><em>$14</em>
                            </div>
                            <p>Chicken, Potato, Salad</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInUp">
                        <div class="menu_item order">
                            <figure>
                                <a href="~/assets/img/menu_items/large/10.jpg" title="Soft shell crab" data-effect="mfp-zoom-in">
                                    <img src="~/assets/img/menu_items/menu_items_placeholder.png" data-src="~/assets/img/menu_items/10.jpg" class="lazy" alt="">
                                </a>
                            </figure>
                            <div class="menu_title">
                                <h3>Soft shell crab</h3><em>$14</em>
                            </div>
                            <p>Chicken, Potato, Salad</p>
                            <a href="#0" class="add_to_cart">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <!-- /row -->
                <p class="text-center"><a href="#0" class="btn_1 outline">Download Menu</a></p>
            </div>
            <!-- /container -->
        </div>
        <!-- /pattern -->
    </main>
    <!-- /main -->

   