@model OrderViewModel
@{
    ViewData["Title"] = "Checkout";
    double totalPrice = 0;
    double deliveryFee = 10;
}



<body style=" background-color:black">


    <main class="pattern_2" style="margin-top: 100px;">
        <div class="container margin_60_40">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="box_booking_2 style_2">
                        <div class="head">
                            <div class="title">
                                <h3>Personal Details</h3>
                            </div>
                        </div>
                        <!-- /head -->
                        <div class="main">
                            <div class="row">
                                <form id="order" method="post">

                                    <div class="col-md-4 col-12">
                                        <label>Fullname</label>
                                        <input asp-for="FullName" placeholder="Fullname">
                                        <span asp-validation-for="FullName"></span>
                                    </div>
                                    <div class="col-md-4 col-12">

                                        <label>Email Address</label>
                                        <input asp-for="Email" placeholder="Email Address">
                                        <span asp-validation-for="Email"></span>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <label>Phone</label>
                                        <input asp-for="Phone" placeholder="Phone">
                                        <span asp-validation-for="Phone"></span>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <label>Full Address</label>
                                        <input asp-for="Address" placeholder="Full Address">
                                        <span asp-validation-for="Address"></span>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <label>City</label>
                                        <input asp-for="City" placeholder="City">
                                        <span asp-validation-for="City"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Postal Code</label>
                                            <input asp-for="ZipCode" placeholder="0123">
                                            <span asp-validation-for="ZipCode"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /box_booking -->
                  <div class="box_booking_2 style_2">
                    <!--  <div class="head">
                            <div class="title">
                                <h3>Payment Method</h3>
                            </div>
                        </div>
                        <!-- /head -->
                    <!--  <div class="main">
                            <div class="payment_select">
                                <label class="container_radio">
                                    Credit Card
                                    <input type="radio" value="" checked name="payment_method">
                                    <span class="checkmark"></span>
                                </label>
                                <i class="icon_creditcard"></i>
                            </div>
                            <div class="form-group">
                                <label>Name on card</label>
                                <input type="text" class="form-control" id="name_card_order" name="name_card_order" placeholder="First and last name">
                            </div>
                            <div class="form-group">
                                <label>Card number</label>
                                <input type="text" id="card_number" name="card_number" class="form-control" placeholder="Card number">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Expiration date</label>
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="mm">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="form-group">
                                                <input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="yyyy">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Security code</label>
                                        <div class="row">
                                            <div class="col-md-4 col-6">
                                                <div class="form-group">
                                                    <input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <img src="img/icon_ccv.gif" width="50" height="29" alt="ccv"><small>Last 3 digits</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End row -->
                        <!--      <div class="payment_select" id="paypal">
                                <label class="container_radio">
                                    Pay with Paypal
                                    <input type="radio" value="" name="payment_method">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="payment_select">
                                <label class="container_radio">
                                    Pay with Cash
                                    <input type="radio" value="" name="payment_method">
                                    <span class="checkmark"></span>
                                </label>
                                <i class="icon_wallet"></i>
                            </div>
                        </div> -->
                    </div>
                    <!-- /box_booking -->
                </div>
                <!-- /col -->
                <div class="col-xl-4 col-lg-4" id="sidebar_fixed">
                    <div class="box_booking">
                        <div class="head">
                            <h3>Order Summary</h3>
                        </div>
                        <!-- /head -->
                        <div class="main">
                            <!-- <ul>
                                 <li>Date<span>Today 23/11/2019</span></li>
                                 <li>Hour<span>08.30pm</span></li>
                                 <li>Type<span>Delivery</span></li>
                             </ul>
                              <hr>-->
                            <ul class="clearfix">
                                @foreach (var item in Model.CheckoutViewModel)
                                {
                                    <li><a asp-controller="menu" asp-action="index">@item.Count x @item.Food.Name</a><span>$@(item.Food.Price * item.Count)</span></li>
                                    totalPrice += (item.Food.Price * item.Count);
                                }

                            </ul>
                            <ul class="clearfix">
                                <li>Subtotal<span>$@totalPrice</span></li>
                                <li>Delivery fee<span>$@deliveryFee</span></li>
                                <li class="total">Total<span>$@(totalPrice+deliveryFee)</span></li>

                            </ul>
                            <button form="order" type="submit" class="btn_1 full-width mb_5">Order Now</button>
                            <div class="text-center"><small>Or Call Us at <strong>0432 48432854</strong></small></div>
                        </div>
                    </div>
                    <!-- /box_booking -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
</body>

