@model Category
@{
    ViewData["Title"] = "Delete";
}

<h1 style="color:black">Delete</h1>
<div>
    <div class="card" style="width: 18rem;">
        <form method="post" enctype="multipart/form-data">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <a asp-action="index" asp-controller="category" class="btn btn-primary">Go to back</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>

