@model ReservationViewModel
@inject LayoutService service
@{
    ViewData["Title"] = "Index";
    var user = await service.GetAppUser();
    var Setting = await service.GetSetting();
}



<body>



    <main>

        @foreach (var slider in Model.Sliders)
        {
            <div class="hero_single inner_pages background-image" data-background="url(uploads/sliders/@slider.ImageUrl)">
                <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-lg-10 col-md-8">
                                <h1>@slider.Title</h1>
                                <p>@slider.Description</p>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <div class="frame white"></div>
            </div>
        }
        <!-- /hero_single -->
        </div>
        <!-- /pattern_2 -->

    </main>
    <!-- /main -->



</body>