
@model UserRegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<!-- Mirrored from demo.hasthemes.com/pustok-preview/pustok/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Mar 2021 10:43:11 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/newP/css/plugins.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/newP/css/main.css" />
    <link rel="shortcut icon" type="~/newP/image/x-icon" href="~/newP/image/favicon.ico">
</head>

<body>
    <div style="background-color:black" class="page-section inner-page-sec-padding-bottom">
    </div>

    <main class="page-section inner-page-sec-padding-bottom">
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                    <!-- Login Form s-->
                    <form method="post">
                        <div class="login-form">
                            <h4 class="login-title">New Customer</h4>
                            <p><span class="font-weight-bold">I am a new customer</span></p>
                            <div class="row">
                                <div class="col-md-6 col-12 mb--15">
                                    <label>Full Name</label>
                                    <input asp-for="Fullname" class="mb-0 form-control" placeholder="Enter your fullname">
                                    <span asp-validation-for="Fullname"></span>
                                </div>
                                <div class="col-md-6 col-12 mb--15">
                                    <label>Username</label>
                                    <input asp-for="UserName" class="mb-0 form-control" placeholder="Enter your username">
                                    <span asp-validation-for="UserName"></span>
                                </div>
                                <div class="col-md-6 col-12 mb--15">
                                    <label>Email</label>
                                    <input asp-for="Email" class="mb-0 form-control" placeholder="Enter your email">
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="col-md-6 col-12 mb--15">
                                    <label>Birthdate</label>
                                    <input asp-for="Birthdate" class="mb-0 form-control" placeholder="Enter your birthdate">
                                    <span asp-validation-for="Birthdate"></span>
                                </div>
                                 <div class="col-md-6 col-12 mb--15">
                                    <label>Password</label>
                                    <input asp-for="Password" class="mb-0 form-control" placeholder="Enter your password">
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="col-md-6 col-12 mb--15">
                                    <label>Confirm Password</label>
                                    <input asp-for="ConfirmPassword" class="mb-0 form-control" placeholder="Enter your confirm password">
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-outlined">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </main>
    </div>


    <script src="~/newP/js/plugins.js"></script>
    <script src="~/newP/js/ajax-mail.js"></script>
    <script src="~/newP/js/custom.js"></script>
</body>




