@model Feedback
@{
    ViewData["Title"] = "Update";
}

<h1 style ="color:black">Update</h1>
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="mb-3 col-md-4">
                <label asp-for="FullName" /></label>
                <input asp-for="FullName" placeholder="FullName">
                <span asp-validation-for="FullName"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="Comment" /></label>
                <input asp-for="Comment" placeholder="Comment">
                <span asp-validation-for="Comment"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="Date" /></label>
                <input asp-for="Date" placeholder="Date">
                <span asp-validation-for="Date"></span>
            </div>
            <div class="mb-3 form-check col-md-4">
                <label asp-for="ImageFile" /></label>
                <input asp-for="ImageFile" placeholder="ImageFile">
                <span asp-validation-for="ImageFile"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>